@using RunGroupWebApp.ViewModels;
@model SendEmailRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Invite an user to RunGroup!</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="GenerateInviteMessage">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmailTo" class="control-label"></label>
                        <input asp-for="EmailTo" class="form-control">
                        <span asp-validation-for="EmailTo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value="Sent" />
                        <a class="btn btn-outline-secondary" asp-controller="Email" asp-action="GenerateInviteMessage">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>